

NET "clk1" IOSTANDARD = LVCMOS33;


NET "clk1" LOC = C9;
NET "enable" LOC = L13;
NET "reset" LOC = L14;
NET "out" LOC = F12;
NET "out" IOSTANDARD = LVTTL;
NET "enable" IOSTANDARD = LVTTL;
NET "reset" IOSTANDARD = LVTTL;

NET "ps2c" LOC = G14;


NET "ps2c" IOSTANDARD = LVCMOS33;


NET "ps2d" LOC = G13;


NET "ps2d" IOSTANDARD = LVCMOS33;

NET "in_select[1]" LOC = N17;
NET "in_select[2]" LOC = H13;
NET "out_select[0]" LOC = V4;
NET "out_select[1]" LOC = D18;
NET "out_select[2]" LOC = K17;
NET "in_select[0]" LOC = H18;


NET "in_select[2]" IOSTANDARD = LVTTL;
NET "in_select[1]" PULLUP;
NET "in_select[0]" PULLUP;
NET "in_select[2]" PULLDOWN;
NET "in_select[1]" IOSTANDARD = LVTTL;
NET "in_select[0]" IOSTANDARD = LVTTL;
NET "out_select[2]" IOSTANDARD = LVTTL;
NET "out_select[1]" IOSTANDARD = LVTTL;
NET "out_select[0]" IOSTANDARD = LVTTL;
NET "enable" PULLUP;
NET "reset" PULLUP;
NET "out_select[2]" PULLDOWN;
NET "out_select[1]" PULLDOWN;
NET "out_select[0]" PULLDOWN;


INST "rolut1" LOC=SLICE_X14Y64:SLICE_X15Y65;
INST "rolut2" LOC=SLICE_X18Y64:SLICE_X19Y65;
INST "rolut3" LOC=SLICE_X22Y64:SLICE_X23Y65;
INST "rolut4" LOC=SLICE_X26Y64:SLICE_X27Y65;
INST "rolut5" LOC=SLICE_X30Y64:SLICE_X31Y65;
INST "rolut6" LOC=SLICE_X34Y64:SLICE_X35Y65;
INST "rolut7" LOC=SLICE_X38Y64:SLICE_X39Y65;
INST "rolut8" LOC=SLICE_X42Y64:SLICE_X43Y65;
INST "rolut9" LOC=SLICE_X46Y64:SLICE_X47Y65;
INST "rolut10" LOC=SLICE_X50Y64:SLICE_X51Y65;

INST "rolut11" LOC=SLICE_X50Y60:SLICE_X51Y61;
INST "rolut12" LOC=SLICE_X46Y60:SLICE_X47Y61;
INST "rolut13" LOC=SLICE_X42Y60:SLICE_X43Y61;
INST "rolut14" LOC=SLICE_X38Y60:SLICE_X39Y61;
INST "rolut15" LOC=SLICE_X34Y60:SLICE_X35Y61;
INST "rolut16" LOC=SLICE_X30Y60:SLICE_X31Y61;
INST "rolut17" LOC=SLICE_X26Y60:SLICE_X27Y61;
INST "rolut18" LOC=SLICE_X22Y60:SLICE_X23Y61;
INST "rolut19" LOC=SLICE_X18Y60:SLICE_X19Y61;
INST "rolut20" LOC=SLICE_X14Y60:SLICE_X15Y61;

INST "rolut21" LOC=SLICE_X14Y56:SLICE_X15Y57;
INST "rolut22" LOC=SLICE_X18Y56:SLICE_X19Y57;
INST "rolut23" LOC=SLICE_X22Y56:SLICE_X23Y57;
INST "rolut24" LOC=SLICE_X26Y56:SLICE_X27Y57;
INST "rolut25" LOC=SLICE_X30Y56:SLICE_X31Y57;
INST "rolut26" LOC=SLICE_X34Y56:SLICE_X35Y57;
INST "rolut27" LOC=SLICE_X38Y56:SLICE_X39Y57;
INST "rolut28" LOC=SLICE_X42Y56:SLICE_X43Y57;
INST "rolut29" LOC=SLICE_X46Y56:SLICE_X47Y57;
INST "rolut30" LOC=SLICE_X50Y56:SLICE_X51Y57;

INST "rolut31" LOC=SLICE_X50Y52:SLICE_X51Y53;
INST "rolut32" LOC=SLICE_X46Y52:SLICE_X47Y53;
INST "rolut33" LOC=SLICE_X42Y52:SLICE_X43Y53;
INST "rolut34" LOC=SLICE_X38Y52:SLICE_X39Y53;
INST "rolut35" LOC=SLICE_X34Y52:SLICE_X35Y53;
INST "rolut36" LOC=SLICE_X30Y52:SLICE_X31Y53;
INST "rolut37" LOC=SLICE_X26Y52:SLICE_X27Y53;
INST "rolut38" LOC=SLICE_X22Y52:SLICE_X23Y53;
INST "rolut39" LOC=SLICE_X18Y52:SLICE_X19Y53;
INST "rolut40" LOC=SLICE_X14Y52:SLICE_X15Y53;

INST "rolut41" LOC=SLICE_X14Y48:SLICE_X15Y49;
INST "rolut42" LOC=SLICE_X18Y48:SLICE_X19Y49;
INST "rolut43" LOC=SLICE_X22Y48:SLICE_X23Y49;
INST "rolut44" LOC=SLICE_X26Y48:SLICE_X27Y49;
INST "rolut45" LOC=SLICE_X30Y48:SLICE_X31Y49;
INST "rolut46" LOC=SLICE_X34Y48:SLICE_X35Y49;
INST "rolut47" LOC=SLICE_X38Y48:SLICE_X39Y49;
INST "rolut48" LOC=SLICE_X42Y48:SLICE_X43Y49;
INST "rolut49" LOC=SLICE_X46Y48:SLICE_X47Y49;
INST "rolut50" LOC=SLICE_X50Y48:SLICE_X51Y49;

INST "rolut51" LOC=SLICE_X50Y44:SLICE_X51Y45;
INST "rolut52" LOC=SLICE_X46Y44:SLICE_X47Y45;
INST "rolut53" LOC=SLICE_X42Y44:SLICE_X43Y45;
INST "rolut54" LOC=SLICE_X38Y44:SLICE_X39Y45;
INST "rolut55" LOC=SLICE_X34Y44:SLICE_X35Y45;
INST "rolut56" LOC=SLICE_X30Y44:SLICE_X31Y45;
INST "rolut57" LOC=SLICE_X26Y44:SLICE_X27Y45;
INST "rolut58" LOC=SLICE_X22Y44:SLICE_X23Y45;
INST "rolut59" LOC=SLICE_X18Y44:SLICE_X19Y45;
INST "rolut60" LOC=SLICE_X14Y44:SLICE_X15Y45;

INST "rolut61" LOC=SLICE_X14Y40:SLICE_X15Y41;
INST "rolut62" LOC=SLICE_X18Y40:SLICE_X19Y41;
INST "rolut63" LOC=SLICE_X22Y40:SLICE_X23Y41;
INST "rolut64" LOC=SLICE_X26Y40:SLICE_X27Y41;
INST "rolut65" LOC=SLICE_X30Y40:SLICE_X31Y41;
INST "rolut66" LOC=SLICE_X34Y40:SLICE_X35Y41;
INST "rolut67" LOC=SLICE_X38Y40:SLICE_X39Y41;
INST "rolut68" LOC=SLICE_X42Y40:SLICE_X43Y41;
INST "rolut69" LOC=SLICE_X46Y40:SLICE_X47Y41;
INST "rolut70" LOC=SLICE_X50Y40:SLICE_X51Y41;

INST "rolut71" LOC=SLICE_X50Y36:SLICE_X51Y37;
INST "rolut72" LOC=SLICE_X46Y36:SLICE_X47Y37;
INST "rolut73" LOC=SLICE_X42Y36:SLICE_X43Y37;
INST "rolut74" LOC=SLICE_X38Y36:SLICE_X39Y37;
INST "rolut75" LOC=SLICE_X34Y36:SLICE_X35Y37;
INST "rolut76" LOC=SLICE_X30Y36:SLICE_X31Y37;
INST "rolut77" LOC=SLICE_X26Y36:SLICE_X27Y37;
INST "rolut78" LOC=SLICE_X22Y36:SLICE_X23Y37;
INST "rolut79" LOC=SLICE_X18Y36:SLICE_X19Y37;
INST "rolut80" LOC=SLICE_X14Y36:SLICE_X15Y37;

INST "rolut81" LOC=SLICE_X14Y32:SLICE_X15Y33;
INST "rolut82" LOC=SLICE_X18Y32:SLICE_X19Y33;
INST "rolut83" LOC=SLICE_X22Y32:SLICE_X23Y33;
INST "rolut84" LOC=SLICE_X26Y32:SLICE_X27Y33;
INST "rolut85" LOC=SLICE_X30Y32:SLICE_X31Y33;
INST "rolut86" LOC=SLICE_X34Y32:SLICE_X35Y33;
INST "rolut87" LOC=SLICE_X38Y32:SLICE_X39Y33;
INST "rolut88" LOC=SLICE_X42Y32:SLICE_X43Y33;
INST "rolut89" LOC=SLICE_X46Y32:SLICE_X47Y33;
INST "rolut90" LOC=SLICE_X50Y32:SLICE_X51Y33;

INST "rolut91" LOC=SLICE_X50Y28:SLICE_X51Y29;
INST "rolut92" LOC=SLICE_X46Y28:SLICE_X47Y29;
INST "rolut93" LOC=SLICE_X42Y28:SLICE_X43Y29;
INST "rolut94" LOC=SLICE_X38Y28:SLICE_X39Y29;
INST "rolut95" LOC=SLICE_X34Y28:SLICE_X35Y29;
INST "rolut96" LOC=SLICE_X30Y28:SLICE_X31Y29;
INST "rolut97" LOC=SLICE_X26Y28:SLICE_X27Y29;
INST "rolut98" LOC=SLICE_X22Y28:SLICE_X23Y29;
INST "rolut99" LOC=SLICE_X18Y28:SLICE_X19Y29;
INST "rolut100" LOC=SLICE_X14Y28:SLICE_X15Y29;


# PlanAhead Generated physical constraints 

